export(
	poisson.independent, 
	poisson.iarCAR, 
	poisson.lerouxCAR, 
	poisson.properCAR, 
	poisson.bymCAR, 
	poisson.dissimilarityCAR, 
	gaussian.independent, 
	gaussian.iarCAR, 
	gaussian.lerouxCAR, 
	gaussian.properCAR, 
	gaussian.bymCAR, 
	gaussian.dissimilarityCAR, 
	binomial.independent, 
	binomial.iarCAR, 
	binomial.lerouxCAR, 
	binomial.properCAR, 
	binomial.bymCAR, 
	binomial.dissimilarityCAR, 
	combine.data.shapefile,
	highlight.borders
)

import(MASS)
importFrom(truncdist, rtrunc)
importFrom(spam, as.spam,  chol.spam, diag)
importFrom(coda, mcmc)