useDynLib(CARBayes)
export(
     combine.data.shapefile,
	highlight.borders,
     S.CARbym, 
     S.CARcluster,
     S.CARdissimilarity,
     S.CARiar,
     S.CARleroux,
     S.independent,
     summarise.lincomb,
     summarise.samples
     )
S3method(print, carbayes)
import(MASS)
import(Rcpp)
import(CARBayesdata)
importFrom(truncdist, rtrunc)
importFrom(spam, as.spam,  chol.spam, diag, rowSums)
importFrom(coda, mcmc)
importFrom(sp, Polygon,  Polygons, SpatialPolygons, SpatialPolygonsDataFrame, SpatialPoints)
